.banner {
  position: relative;
  background: url("https://media.istockphoto.com/id/517188688/photo/mountain-landscape.jpg?s=1024x1024&w=0&k=20&c=z8_rWaI8x4zApNEEG9DnWlGXyDIXe-OmsAyQ5fGPVV8=");
  background-size: cover;
  background-position: center;
  height: 400px;
  color: white;
  width: 100%;
}

.nav-bar {
  position: absolute;
  top: 0;
  width: 97%;
  background: rgba(0, 0, 0, 0.5);
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-bar a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
  font-weight: bold;
}

.nav-bar a:hover {
  text-decoration: underline;
  color: black
}

.banner-heading{
    font-size: 3rem;
    position: absolute;
    top: 50%;
    left: 50%;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0,0, 0.7);
}
