.banner{
    position: relative;
    background: url('https://media.istockphoto.com/id/517188688/photo/mountain-landscape.jpg?s=1024x1024&w=0&k=20&c=z8_rWaI8x4zApNEEG9DnWlGXyDIXe-OmsAyQ5fGPVV8=');
    background-size: cover;
    background-position: center;
    height: 400px;
    color: white;
}